## Joins de tablas con Python/Pandas

In [1]:
import pandas as pd

In [2]:
# Carga de datos
df1 = pd.read_csv('dataset_2a.csv')
df2 = pd.read_csv('dataset_2b.csv')
df3 = pd.read_csv('dataset_2c.csv')

In [3]:
df1.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023

In [4]:
df2.head()

        ciudad  followers  followees             user
0    GUAYAQUIL      389.0        258    leonardokuffo
1    SAO PAULO      982.0       1822    mateusmartins
2       OAXACA       12.0        129      pedrojuarez
3        QUITO      332.0        378     galocastillo
4  GUADALAJARA       21.0       2721  gabrielcarvajal

In [5]:
df3.head()

           ciudad     pais
0       GUAYAQUIL  ECUADOR
1  RIO DE JANEIRO   BRASIL
2     GUADALAJARA   MEXICO
3          OAXACA   MEXICO
4           QUITO  ECUADOR

### Si notamos, df1 tiene en comun con df2 la columna user, asi como df2 y df3 comparten ciudad. Ahi es el praton para el join.

In [8]:
# Df a la izquierda y otro de derecha, el de izq es el principal. Unimos df izq que es df1 con el derecha que es df2
df_con_users = df1.merge(df2, on='user', how='left') #buscar en gpt los diferentes HOW

In [9]:
df_con_users.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129

In [10]:
df_full = df_con_users.merge(df3, on='ciudad', how='left')

In [11]:
df_full.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees,pais
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258,ECUADOR
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822,BRASIL
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378,ECUADOR
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO

### Si miramos hay una column fecha. Pero tiene el dato string. Hay que pasarlo a date para que se organice bien si hacemos sorts

In [12]:
df_full['fecha'] = pd.to_datetime(df_full['fecha_publicado'], format='%d/%m/%Y')

In [13]:
df_full.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees,pais,fecha
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258,ECUADOR,2023-01-27
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822,BRASIL,2023-01-27
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378,ECUADOR,2023-01-28
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28

In [15]:
# dia de semana de la fecha
df_full['dia_semana']= df_full['fecha'].apply(
    lambda x: x.strftime('%A-%d-%B')
)
df_full.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees,pais,fecha,dia_semana
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258,ECUADOR,2023-01-27,Friday-27-January
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822,BRASIL,2023-01-27,Friday-27-January
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378,ECUADOR,2023-01-28,Saturday-28-January
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January

In [16]:
df_full['mes']= df_full['fecha'].apply(
    lambda x: x.strftime('%m/%Y')
)
df_full.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees,pais,fecha,dia_semana,mes
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258,ECUADOR,2023-01-27,Friday-27-January,01/2023
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822,BRASIL,2023-01-27,Friday-27-January,01/2023
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January,01/2023
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378,ECUADOR,2023-01-28,Saturday-28-January,01/2023
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January,01/2023

In [19]:
## fecha_publicado al ser string, puedo saltar lo que hice y hacer directo mes y aÃ±o
df_full['mes_string']= df_full['fecha_publicado'].apply(
    lambda x: x[3:]
)
df_full.head()

,id,full_text,favorites,retweets,mentions,user,fecha_publicado,ciudad,followers,followees,pais,fecha,dia_semana,mes,mes_string
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,leonardokuffo,27/01/2023,GUAYAQUIL,389.0,258,ECUADOR,2023-01-27,Friday-27-January,01/2023,01/2023
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,mateusmartins,27/01/2023,SAO PAULO,982.0,1822,BRASIL,2023-01-27,Friday-27-January,01/2023,01/2023
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January,01/2023,01/2023
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,galocastillo,28/01/2023,QUITO,332.0,378,ECUADOR,2023-01-28,Saturday-28-January,01/2023,01/2023
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,pedrojuarez,28/01/2023,OAXACA,12.0,129,MEXICO,2023-01-28,Saturday-28-January,01/2023,01/2023

## Agrupaciones multiples, pivotar y transporters

In [20]:
df_full.groupby('mes_string').agg({
    'id': 'count'
})

            id
mes_string
01/2023     12
02/2023     12
03/2023      3