# ABC del Analisis de Datos
## Usando pandas

In [3]:
import pandas as pd

df = pd.read_csv('dataset.csv')

df.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [5]:
df.describe() # describe devuelve contiene estadisticas del df original

,id,favorites,retweets,mentions,followers,followees
count,27.000000,26.000000,26.000000,26.000000,26.000000,27.000000
mean,183734.000000,280.538462,80.000000,15.423077,352.807692,1190.185185
std,7.937254,153.377242,40.303846,9.596554,375.319493,1965.735995
min,183721.000000,23.000000,21.000000,1.000000,12.000000,129.000000
25%,183727.500000,139.250000,45.500000,8.250000,21.000000,258.000000
50%,183734.000000,305.500000,79.000000,16.000000,332.000000,351.000000
75%,183740.500000,422.500000,110.750000,23.500000,389.000000,1822.000000
max,183747.000000,500.000000,146.000000,29.000000,982.000000,9918.000000

## Limpieza de datos

In [7]:
df_filtrado = df.dropna() ## devuelve un df filtrado, quita las filas que tiene NaN
df_filtrado.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
6,183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258

In [8]:
# si no quiero elimina esos Nan
df_filtrado = df.fillna(0) #rellena con 0 los NaN
df_filtrado.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [9]:
df_filtrado = df.fillna({
    "retweets": 14,
    "mentions": 33
})

df_filtrado.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,14.0,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,33.0,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

## Filtrado de datos
A veces solo queres analizar una parte de los datos, no todos.
Para esto, filtramos con Pandas sea por condiciones o por columnas/filas a trav√©s de indexaci√≥n o las etiquetas de las filas y columnas

### Filtrado de 1 sola columna

In [10]:
df["favorites"]

0      23.0
1     500.0
2     190.0
3     131.0
4     113.0
5     492.0
6     158.0
7       NaN
8     198.0
9     272.0
10     43.0
11    349.0
12    467.0
13     50.0
14    418.0
15    361.0
16    346.0
17    296.0
18    315.0
19    133.0
20     92.0
21    255.0
22    432.0
23    430.0
24    424.0
25    488.0
26    318.0
Name: favorites, dtype: float64

In [11]:
df["full_text"]

0     Flying home to run down from the power to comi...
1                   Today we commemorate and MNML Case.
2          Today we have reached US$6.55 Billion TT$44‚Ä¶
3     Faking It by Joel Atwell. Written by Other cou...
4                                       Welcome back! üôå
5     Contest: Win a fan of his ass. #thatisall Thanks!
6                                    80's & friends! ‚úàÔ∏è
7     Thank you guess how did I feel somewhat offend...
8           OnePlus 8 international giveaway classifies
9                   Here it is.. Retweet this desperate
10    Great to advertise during the year I tweeted a...
11    Its been in love with the game with the origin...
12                             Programming is the best!
13                               I cannot believe this!
14                               Buy this product NOW!!
15    I have one is best color gradients: Just relea...
16                                                PIC!!
17                               hmmm feeling bad today
18                            not feeling god right now
19                          Programming is a hot topic!
20                              Programming? i love it!
21                                              WHAT???
22                           Amazing video by Leonardo!
23                                          Thanks man!
24            There is nothing better than programming!
25                                             BORED AF
26    I do not know if i like programming or other t...
Name: full_text, dtype: object

In [12]:
# varias columnas
df[["favorites", "full_text"]]

    favorites                                          full_text
0        23.0  Flying home to run down from the power to comi...
1       500.0                Today we commemorate and MNML Case.
2       190.0       Today we have reached US$6.55 Billion TT$44‚Ä¶
3       131.0  Faking It by Joel Atwell. Written by Other cou...
4       113.0                                    Welcome back! üôå
5       492.0  Contest: Win a fan of his ass. #thatisall Thanks!
6       158.0                                 80's & friends! ‚úàÔ∏è
7         NaN  Thank you guess how did I feel somewhat offend...
8       198.0        OnePlus 8 international giveaway classifies
9       272.0                Here it is.. Retweet this desperate
10       43.0  Great to advertise during the year I tweeted a...
11      349.0  Its been in love with the game with the origin...
12      467.0                           Programming is the best!
13       50.0                             I cannot believe this!
14      418.0                             Buy this product NOW!!
15      361.0  I have one is best color gradients: Just relea...
16      346.0                                              PIC!!
17      296.0                             hmmm feeling bad today
18      315.0                          not feeling god right now
19      133.0                        Programming is a hot topic!
20       92.0                            Programming? i love it!
21      255.0                                            WHAT???
22      432.0                         Amazing video by Leonardo!
23      430.0                                        Thanks man!
24      424.0          There is nothing better than programming!
25      488.0                                           BORED AF
26      318.0  I do not know if i like programming or other t...

In [14]:
#indexacion por filas a traves de indices
df.iloc[0] # devuelve la fila 0

id                                                      183721
full_text    Flying home to run down from the power to comi...
favorites                                                 23.0
retweets                                                   NaN
mentions                                                  10.0
country                                                ECUADOR
user                                             leonardokuffo
followers                                                389.0
followees                                                  258
Name: 0, dtype: object

In [15]:
#range de indices
df.iloc[0:3]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129

#identificar indiviedualmente
df.iloc[[0,3,5]] #pido fila 0, 3 y 5

In [22]:
# identificar por los identificadores
#df.loc[[183721,183724]] #identifica por el id de la fila, no el index

## Filtrar por condiciones

In [23]:
favs_400 = df[df["favorites"] > 400]
favs_400.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
14,183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
22,183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351

In [24]:
otro_fav = df[(df["favorites"] > 400) & (df["mentions"] > 20)]
otro_fav.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
23,183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [26]:
df[df["full_text"].str.contains("Programming")]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
12,183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
19,183740,Programming is a hot topic!,133.0,145.0,15.0,BRASIL,lucasperes,82.0,351
20,183741,Programming? i love it!,92.0,146.0,1.0,ECUADOR,galocastillo,332.0,378

# Transformaci√≥n de los datos

In [27]:
#creemos la columna ganancias
import random

def calcularGanancias(retweets):
    ganancia = retweets * random.randint(3,5)
    return ganancia

df["ganancias"] = df["retweets"].apply(calcularGanancias)

df.head()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,id,full_text,favorites,retweets,mentions,country,user,followers,followees,ganancias
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258,NaN
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822,84.0
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,615.0
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378,304.0
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129,650.0

In [30]:
import random

def popularidad(fila):
    resultados = fila["followees"] / fila["followers"]
    return resultados

df["popularidad"] = df.apply(popularidad,axis=1) #con axis en 1 le especifico al apply que debe ser aplicado en cada fila del dataframe
df.head()

,id,full_text,favorites,retweets,mentions,country,user,followers,followees,ganancias,popularidad
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258,NaN,0.663239
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822,84.0,1.855397
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,615.0,10.750000
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378,304.0,1.138554
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129,650.0,10.750000

# Agrupaciones

In [32]:
#df.groupby("country").mean() # si lo hago asi como hay columnas de text, rompe, hay que especificar explicitamente la columna antes de la aplicacion