In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Col1': [100,200,300],
    'Col2': [400,500,600],
    'Col3': [700,800,900]
}, index=['fila1', 'fila2','fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [4]:
##LOC: selecciona filas y columnas con etiquetas especificas

df.loc['fila1']

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [5]:
df.loc[['fila1', 'fila3']]

       Col1  Col2  Col3
fila1   100   400   700
fila3   300   600   900

In [7]:
##segmentacion

df.loc['fila2':'fila3'] ##aca si incluye al ultimo parametro, comunmente en pyhon no

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [8]:
## lista de booleanos
df.loc[[False, True, False]]

       Col1  Col2  Col3
fila2   200   500   800

In [10]:
## filas con condiciones en particular
df.loc[df['Col1'] > 150]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [11]:
df.loc[:, ['Col1', 'Col2']]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

In [12]:
## ILOC no lo hace en base a las etiquetas sino en las posiciones numericas
df.iloc[0]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [14]:
df.iloc[:,[0,1]] ## :, hace que sea: quiero todas las filas, pero quiero la columna 0 y la 1

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600