In [1]:
## Dataframes --> Tablas
## SERIES --> Columnas

In [3]:
import pandas as pd

In [4]:
datos = {
    "nombre": [
        "Pedro",
        "Juan",
        "Lorena"
    ],
    "edad": [
        25,
        39,
        33
    ]
}

datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 39, 33]}

In [5]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    39
2  Lorena    33

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
##Segundo tipo de datos: SERIES

In [9]:
##Capturar serie nombre:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [10]:
df["edad"]

0    25
1    39
2    33
Name: edad, dtype: int64

In [11]:
df.nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [12]:
type(df.nombre)

pandas.core.series.Series