In [1]:
## Intro Numpy
import pandas as pd
import numpy as np

In [3]:
path = r"C:\Users\004543613\Desktop\python_data_intelligence\Numpy\Ciudades_Visitadas_Latinoamerica_2023.csv"
df = pd.read_csv(path)

In [4]:
df

              Ciudad       País  Población  Visitantes
0   Ciudad de México     México    9265833    21000000
1       Buenos Aires  Argentina    3059574    15000000
2     Río de Janeiro     Brasil    6748314    13000000
3               Lima       Perú    9756020     9000000
4             Bogotá   Colombia    7181663     8000000
5  Santiago de Chile      Chile    6199241     7500000
6          São Paulo     Brasil   12333146    20000000
7          La Habana       Cuba    2164182     4000000
8             Cancún     México     888124     5000000
9          Cartagena   Colombia    1036671     3000000

In [6]:
## Promedio de poblacion total sumados y divididos por cantidad de ciudades
df['Población'].mean()

np.float64(5863276.8)

In [8]:
## el .8 no me gusta por lo que pdemos pasar a Numpy
## REDONDEAR
np.round(df['Población'].mean())

np.float64(5863277.0)

In [9]:
## Valor minimo con numpy
np.min(df['Visitantes'])

3000000

In [10]:
np.max(df['Visitantes'])

21000000